.heading:hover{
    text-shadow:fuchsia;
    color: gold;
}
table,th,td{
    border-collapse: collapse;
    border:1px solid black;
}
#head{
    background-color: rgb(15, 83, 32);
}
.basic{
    background-color: rgb(250, 250, 0);
}
.macro{
    background-color: green;
}
.stat{
    background-color: grey;
}
.cal{
    background-color: blue;
}
.prog{
    background-color: purple;
}
.fm{
    background-color: rgb(179, 21, 21);
}
.table-content{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
}
.table-content thead tr{
    background-color: #009879;
    color: white;
    text-align: left;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0,0, 15%);

}
.table-content,
.table-content td{
    padding: 12px 15 px;
}
.table-content tbody tr{
    border-bottom: 3px solid green
}
.table-content tbody:nth :nth-of-type(even){
background-color: #011053;
}
.table-content tbody tr:last-of-type{
    border-bottom: 2px  solid#009879;
}
.table-content tbody tr.active-row{
    font-weight: bold;
     color: #009879;
}
/*
=========
table 3 Abbreviated as t3
================
*/
.t3 { border-collapse: collapse;
     margin: 20 20 ;
     font-size: 20px;
     min-width: 600px;
}
.t3 thead tr{ 
    font-weight: bold;
    background-color: rgb(79, 108, 187);
}
.t3 tbody tr{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: rgb(167, 143, 143);
}
.t3 tbody tr:nth-of-type(even){
    background-color: slateblue;
}
.t3 td{
    padding: 6px;
}